@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Oxygen", sans-serif;
    --primary: #bb86fc;
    --secondary: #3700b3;
}
body{
    position: relative;
}
.container {
    padding-inline: 75px;
    padding-block: 20px;
}

.toast-notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 9999;
}

.toast-notification.show {
    opacity: 1;
    transform: translateX(-50%) translateY(-10px);
}
