.product-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #eee;
    border-radius: 10px;
}

.product-card {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1 1 calc(33.333% - 20px);
    min-width: 250px;
    padding: 10px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 10px;
}

.product-img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.price-and-actions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-actions {
    display: flex;
    gap: 10px;
}
.cart-plus-icon {
    width: 32px;
    height: 32px;
    fill: rgb(0, 139, 0);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.cart-plus-icon:hover {
    fill: rgb(0, 200, 0);
}
.fav-icon {
    width: 32px;
    height: 32px;
    fill: rgb(252, 115, 115);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.fav-icon:hover {
    fill: rgb(253, 0, 0);
}

.product-pre-offer-price {
    text-decoration: line-through;
}

.products-with-category-filter-container {
    display: flex;
    position: relative;
    gap: 20px;
}

.category-filter-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    position: sticky;
    top: 85px;
    background-color: #eee;
    border-radius: 10px;
    border: 2px solid grey;
}
.category-filter-header {
    border-left: 3px solid black;
    padding-left: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}
.category-filter {
    font-size: 18px;
    font-weight: 100;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.category-filter:hover {
    transition: 0.4s ease;
    background-color: darkgray;
}

.search-bar-container {
    display: flex;
    position: relative;
    width: fit-content;
}

.search-bar-input {
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 15px;
    padding: 12px;
    min-width: 250px;
    color: rgb(0, 0, 0);
}

.search-bar-button {
    background-color: rgba(0, 0, 0, 0.411);
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-icon {
    width: 20px;
    height: 20px;
    fill: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
